@import "../cssControl/control";

.flash{.wh(100%,400/@rem);background: @gray;margin-top:88/@rem;}
.menu-box{.flex();.justify-content();.wh(auto,231/@rem);background: #ffffff;padding:0 50/@rem;
  .menu{display:block;text-align: center;.align-self(center);
    .img{.wh(97/@rem,auto);}
    p{margin-top:24/@rem;}
  }
}