    @import "../cssControl/control";
    .icon-menu {
        .wh(42/@rem, 100%);
        background-size: 100% auto;
        background: url("../images/icon-menu.png") center center no-repeat;
    }
    
    .user {
        background: url("../images/icon-menu.png") center center no-repeat;
    }
