@import "../cssControl/control";

/*楼盘动态*/
.list-scroll-wrap{min-height:990/@rem;}
a.news-list:active{.btn-effect();}
.news-list{display:block;padding:32/@rem;margin-top:8/@rem;overflow: hidden;background: #ffffff;
  .date{font-size:18/@rem;color:@gray;margin-top:8/@rem;}
  .con{font-size:24/@rem;color:@gray;margin-top:16/@rem;line-height:32/@rem;}
  .ellipsis{.ellipsis(2);}
}
.news-content{min-height:1334/@rem;margin-bottom: 32/@rem;}