@import "../cssControl/control";

/*初始化样式*/
*{margin:0px;padding:0px}
body{height:100%;width:100%;font-size:14px;color:@txt-black;font-family:'Heiti SC','Droidsansfallback','Dengxian',Helvetica,'sans-serif';}

dl,dd,ul{list-style:none;box-sizing: border-box}
img{vertical-align: middle;}
a img{border:0;text-decoration: none;}
a,a:hover{text-decoration: none;}
a{color:@txt-black;}
a:-webkit-any-link{text-decoration: none;}
div,form,img,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{border-style: none;box-sizing: border-box
  border-color: inherit;
  border-width: 0;
  padding: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: break-word;
  word-break: normal;
}
body,html{height:100%}

input{font-family:'Heiti SC','Droidsansfallback','Dengxian',Helvetica,'sans-serif'; box-sizing: border-box}
input:focus, textarea:focus {outline: none}
button{outline:none;font-family:'Heiti SC','Droidsansfallback','Dengxian',Helvetica,'sans-serif'; font-weight: 400}
textarea {resize: none;}

.center{margin-left: auto; margin-right: auto}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

sup{
  top: -0.5em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/*灰色背景（body）*/
.wrap-gray-bg{background: @gray-bg;}

/*左右浮动*/
.pull-left{display:inline;float: left;}
.pull-right{display:inline;float: right;}

/*清除浮动*/
.clear:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}
.clear{zoom:1;}

.line{.wh(100%,3px);border-bottom:1px solid @gray-border2;margin:40px 0;}

/*字体大小*/
.f12{font-size: 12/@rem;}
.f14{font-size: 14/@rem;}
.f16{font-size: 16/@rem;}
.f18{font-size: 18/@rem;}
.f20{font-size: 20/@rem;}
.f25{font-size: 25/@rem;}
.f26{font-size: 26/@rem;}
.f30{font-size: 30/@rem;}

.mb150{margin-bottom: 150/@rem;}
.mb40{margin-bottom: 40/@rem;}

.mt30{margin-top:30/@rem;}
.mt20{margin-top:20/@rem;}
.mt60{margin-top:60/@rem;}

.mr20{margin-right:20/@rem;}

/*颜色*/
.bold{font-weight: bold;}
.red{color:@red !important;}
.gray{color:@gray !important;}
.blue{color:@blue !important;}

/*page-group*/
.page-group{.wh(100%); min-height: 100%; position: relative;left: 100%; top: 0; .transition(0.3s); overflow: hidden; background: @gray;}

/*公共头部*/
