@import "../cssControl/control";

/*初始化样式*/
*,::before,::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -webkit-touch-callout:none;
  -webkit-text-size-adjust:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  -webkit-user-select:none;
  outline: none;
}
//html,body{background: @gray-bg;}
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 26/@rem;
  font-weight:normal;
  color: @txt-black;
  outline: 0;
}
input, textarea, select, button {
  font-size:100%;
  outline:none;
}
input[type='text'],input[type='password'],input[type='number']{
  border:0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
button,input,select,textarea {
  font: inherit;
  color: inherit;
}
a {
  color: @txt-black;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:hover{text-decoration: none;}
  &:visited{text-decoration: none;}
}
ul,ol{
  list-style:none;
}
table {
  border-collapse:collapse;
  border-spacing:0
}
fieldset,img {
  border:0
}
img{vertical-align: middle;}
sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}
sup {
  top:-.5em
}
sub {
  bottom:-.25em
}


/*base*/
.center{margin-left: auto; margin-right: auto}
.hide{display: none}
.text-align{text-align:center;}

/*左右浮动*/
.pull-left{display:inline;float: left;}
.pull-right{display:inline;float: right;}

/*清除浮动*/
.clearfix{
  &:before,
  &:after {
    content: " ";
    height:0;
    line-height:0;
    display:block;
    visibility:hidden;
  }
  &:after {
    clear: both;
  }
}

/*字体大小*/
.f12{font-size: 12/@rem;}
.f14{font-size: 14/@rem;}
.f16{font-size: 16/@rem;}
.f18{font-size: 18/@rem;}
.f20{font-size: 20/@rem;}
.f22{font-size: 22/@rem;}
.f25{font-size: 25/@rem;}
.f26{font-size: 26/@rem;}
.f28{font-size: 28/@rem;}
.f30{font-size: 30/@rem;}
.f36{font-size: 36/@rem;}
.f42{font-size: 42/@rem;}

/*margin*/
.mb150{margin-bottom: 150/@rem;}
.mb32{margin-bottom:32/@rem;}
.mb40{margin-bottom: 40/@rem;}

.mt30{margin-top:30/@rem;}
.mt32{margin-top:32/@rem;}
.mt40{margin-top:40/@rem;}
.mt20{margin-top:20/@rem;}
.mt60{margin-top:60/@rem;}

.mr20{margin-right:20/@rem;}

/*颜色*/
.bold{font-weight: bold;}
.red{color:@red !important;}
.gray{color:@gray !important;}
.blue{color:@blue !important;}

/*page-group*/
.page-group{.wh(100%); min-height: 100%; position: relative;left: 100%; top: 0; .transition(0.2s); overflow: hidden; background: @gray-bg;}

/*底部固定工具栏fixed*/
.bar {
  width:100%;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bar-tab{
  bottom:0;
  height:88/@rem;
  line-height:88/@rem;
}
/*fixed-margin*/
.bar~.page-group{margin-bottom:88/@rem;}

/*头部标题栏nav*/
.nav{.wh(100%,100/@rem,100/@rem);background:#ffffff;padding:0 32/@rem;
  .icon{position:relative;z-index:20;display:block;
    &.arr-l{.wh(22/@rem,100%);background: url("../images/icon/arr_l.png") left center no-repeat;background-size: 80% auto;}
    &.icon-menu {
      .btn-effect();
      .wh(42/@rem, 100%);
      background: url("../images/icon/icon-menu.png") center center no-repeat;
      background-size: 100%;
    }
  }
  .title{position: absolute;left:0;right:0;display: block;.wh(100%,100/@rem,100/@rem);text-align: center;font-size:28/@rem;}
}

/*header && footer*/
.header-wrap{.wh(100%,88/@rem,88/@rem);background:#ffffff;overflow: hidden;padding-right:32/@rem;padding-left: 32/@rem;
  a{display:block;}
  .img{height:45/@rem;}
  .home{.wh(56/@rem,100%);background: url("../images/home.png") right center no-repeat;background-size: 100% auto;}
}
.footer-wrap{padding:0 32/@rem;overflow: hidden;background: @txt-black;font-size:18/@rem;color:@gray;
  .crumbs{padding:32/@rem 0;border-bottom: 1px solid #323a5b;}
  .bottom-box{margin:32/@rem 0;
    .left-box{.wh(270/@rem,auto);}
  }
}

/*面包屑*/
.crumbs{
  color: @gray;
  a{
    font-size: 18/@rem;
    color: @gray;
    &:hover{
      padding-bottom: 1px;
      border-bottom: 1px solid @gray;
    }
  }
  span{
    font-size:18/@rem;
  }
}

/*desc-list*/
.desc-list{
  span{padding:4/@rem 11/@rem;.round(4/@rem);margin-right:8/@rem;font-size:18/@rem;}
}

/*flash*/
.flash{.wh(100%,400/@rem);
  .swiper-slide{overflow: hidden;text-align: center;}
  .img{height:100%;}
  .caption-box{.wh(100%,54/@rem,54/@rem);z-index:10;background-color:@gray-dark;.bg-rgba(rgba(42, 48, 76, 0.8));position: absolute;bottom:0;left:0;right:0;color:#ffffff;padding:0 32/@rem;}
}

/*上拉加载*/
.down-load{.wh(100%,40/@rem,40/@rem);margin:24/@rem 0;text-align: center;color:@gray;
  .dropload-load{.wh(100%,40/@rem);background: url("../js/addons/dropload/loading.gif") top center no-repeat;background-size: auto 100%;}
}

/*right menu*/
.mask{
  position: absolute;
  top: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background: #000;
  filter:alpha(opacity=50); /*IE滤镜，透明度50%*/
  -moz-opacity:0.5; /*Firefox私有，透明度50%*/
  opacity:0.5;/*其他，透明度50%*/
  display: none;
}
.right-menu{
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 999;
  height: 100%;
  width: 288/@rem;
  background: #fff;
  transition: All .3s ease-in-out;
  -webkit-transition: All .3s ease-in-out;
  -moz-transition: All .3s ease-in-out;
  -o-transition: All .3s ease-in-out;
  padding: 0 32/@rem;
  li{
    height: 90/@rem;
    line-height: 90/@rem;
    a{
      display: block;
      font-size: 26/@rem;
    }
  }
  .hot-phone{
    position: absolute;
    bottom: 56/@rem;
    h4{
      font-size: 18/@rem;
      font-weight: normal;
      color: #7f85a3;
    }
    p{
      margin-top: 8/@rem;
      font-size: 22/@rem;
      color: #58a4e8;
    }
  }
  a{
    padding-left: 64/@rem;
    border-bottom: 1px solid #dbe0ed;
  }
  .rightMenu-bar-home{
    background: url("../images/icon/icon-right-menu-home.png") no-repeat .1rem 28/@rem;
    background-size: 29/@rem 32/@rem;
  }
  .rightMenu-bar-project {
    background: url("../images/icon/icon-right-menu-project.png") no-repeat 0 28/@rem;
    background-size: 40/@rem 40/@rem;
  }
  .rightMenu-bar-mall{
    background: url("../images/icon/icon-right-menu-mall.png") no-repeat 0 28/@rem;
    background-size: 40/@rem 40/@rem;
  }
  .rightMenu-bar-TB{
    background: url("../images/icon/icon-right-menu-TB.png") no-repeat 0 28/@rem;
    background-size: 40/@rem 40/@rem;
  }
}