@import "../cssControl/control";

/*form-icon*/
.form-icon{display:block;.wh(38/@rem,41/@rem);position:absolute;left:0;
  &.icon1{background: url("../images/icon/user_ico1.png") no-repeat;background-size:100% auto; }
  &.icon2{background: url("../images/icon/user_ico2.png") no-repeat;background-size:100% auto;}
}

/*错误提示*/
.err-tip{.wh(100%,56/@rem,47/@rem);color:@red;font-size:24/@rem;}

/*form-box*/
.top-box{.wh(100%,417/@rem);overflow:hidden;background:@red url("../images/login.png") left bottom no-repeat;background-size: 100% auto;
  .logo-link{display:block;.wh(100%,150/@rem);margin:90/@rem auto 0;}
}
.form-box{padding:59/@rem 71/@rem 0;background: #ffffff;overflow: hidden;

  .input-group{padding:16/@rem 0;border-bottom:1/@rem solid @gray-border2;overflow: hidden;position:relative;
    .input{height:41/@rem;width:100%;padding-left:62/@rem;
      &.w5{width:50%;}
      &.pr130{padding-right:135/@rem;}
      &.pl0{padding-left:0;}
    }

    .forget{position:absolute;right:0;top:16/@rem;color:@red;}
    &.active{border-bottom-color: @red;
      .input{color:@red;}
      .icon1{background: url("../images/icon/user_icoh1.png") left center no-repeat;background-size: 100% auto;}
      .icon2{background: url("../images/icon/user_icoh2.png") left center no-repeat;background-size: 100% auto;}
    }
  }

  .code-box{.flex();.justify-content();}
  .code-btn{.btn-empty(@red);width:50%;
    &.disabled{.btn-disabled();cursor: not-allowed;pointer-events: none;.round(100/@rem);}
  }

  .refer-btn{.btn-red-full();width:100%;margin-top:25/@rem;
    &.disabled{.btn-disabled();}
  }

  .rule-box{font-size: 24/@rem;margin-top:41/@rem;margin-bottom:41/@rem;.wh(auto,32/@rem,32/@rem);
    .rule-label{margin-left:159/@rem;float:left;display:block;background: #ffffff;position: relative;
      &:after{display:block;.wh(100%,100%);content:'';position: absolute;top:0;left: 0;}
      .rule{display: none;}
      .icon{display:block;.wh(32/@rem,32/@rem);border:1px solid #d0d0d0;.round(3/@rem);float: left;margin-right:16/@rem;}
      .rule:checked + .icon{background:url("../images/icon/checked.png") no-repeat;background-size: 100% 100%;}
    }
  }

  .link-box{margin:40/@rem auto 101/@rem;
    color:@gray;text-align: center;
    .link{color:#dc4144;}
  }
}

/*修改手机*/
.change-step{padding:0 71/@rem;background: #ffffff;overflow: hidden;.flex();.justify-content();
  li{margin-top:65/@rem;float: left;text-align: center;
    .icon{display:inline-block;.wh(101/@rem,112/@rem);
      &.icon1{background: url("../images/icon/group1.png") no-repeat;background-size: 100% auto;}
      &.icon2{background: url("../images/icon/group2_gray.png") no-repeat;background-size: 100% auto;}
      &.icon3{background: url("../images/icon/group3_gray.png") no-repeat;background-size: 100% auto;}
    }
    .txt{display:block;color:@gray;font-size:24/@rem;margin-top:16/@rem;}
    .line-dotted{margin:0 18/@rem;.wh(100/@rem,56/@rem);border-bottom:2/@rem dashed @gray;overflow: hidden;}

    &.active{
      .txt{color:@red;}
      .line-dotted{border-bottom-color:@red;}
      .icon{
        &.icon2{background: url("../images/icon/group2.png") no-repeat;background-size: 100% auto;}
        &.icon3{background: url("../images/icon/group3.png") no-repeat;background-size: 100% auto;}
      }
    }
  }
}

/*手机跳转*/
.upDate-suss{text-align: center;background: #ffffff;overflow: hidden;padding:0 68/@rem;
  .img{margin-top:80/@rem;}
  h2{color:@red;font-size:24/@rem;margin-top:15/@rem;}
  .line{margin-top:24/@rem;}
  .p{color:@gray;font-size:20/@rem;margin-top:24/@rem;margin-bottom: 24/@rem;}
}

