.placeholder(@c:@gray){
  &::-webkit-input-placeholder{
    color:@c;
  }
  &:-moz-placeholder{
    color:@c;
  }
  &::-moz-placeholder{
    color:@c;
  }
  &:-ms-input-placeholder{
    color:@c;
  }
}
input{.placeholder();}
textarea{
  &::-webkit-input-placeholder
  ,&:-moz-placeholder
  ,&::-moz-placeholder
  ,&:-ms-input-placeholder{
    color:@gray;
  }
}
input,button{font-size:26/@rem;}
button{cursor: pointer;}

.textarea(@h:179/@rem){height:@h;padding:24/@rem;.round(10/@rem);background-color:@gray-bg;.box-shadow(0,1px,2px 0,#7f85a3 inset);color:@gray;font-size:20/@rem;border:1/@rem solid #c3cad8;
  &:focus{background: #ffffff;.transition(.4s);}
}

